.our-features {
    background-color: var(--mainBlue);
    color:white;  
    padding-bottom: 100px;
}

.our-features-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding-top: 28px;
    font-size: 0.9rem;
}


.our-features__blocks {
padding-top:200px;

}

.our-features__individual-block {
 display: block;
 
}

.our-features__text {
    padding: 0 18px;
    font-weight: 300;
    font-size: 1rem; 
   
}

.our-features__block-image {
    width: 100%;
    padding-top: 3px;
    text-align: center;
}
@media only screen and (min-width: 600px) {
.our-features-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    padding-top: 45px;
    font-size: 2.8rem;
}

.our-features__first-section-title {  
    font-weight: 300; 
}

.our-features__blocks {
padding-top:200px;

}

.our-features__individual-block {
 display: flex;
}

.our-features__text {
    padding: 0 18px;
    font-weight: 300;
    font-size: 1.3rem; 
   
}

.our-features__block-image {
    width: 13rem;
    padding-top: 29px;
}
}
