.row {

}

.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width: 600px) {
.row__4 {
    float: left;
    width: 33.33%;
}
.row__4_medium {
    float: left;
    width: 30%;
}

.row__6 {
    float: left;
    width: 50%;
}

.row__8 {
    float: left;
    width: 66.66%;
}


.row__gutters {
    margin-right: -65px;
}

.row__gutters > div {
    padding-right: 65px;
}
}